{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Track List</title>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- Star Rating -->
    <link href="{% static 'rating/css/star-rating.min.css' %}" rel="stylesheet" />
</head>

<body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified bootstrap JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Modals -->
    {% include 'tracks/modal/track_modal.html' %}
    {% include 'tracks/modal/genre_modal.html' %}
    <div class="search_container">
        {% include 'tracks/modal/search_result_modal.html' %}
    </div>
    <!-- Navbar -->
    {% include 'tracks/navbar.html' %} 
    {% block content %} 
    {% endblock %}
    <!-- Custom JS -->
    <script src="{% static 'js/global.js' %}"></script>
    <!-- Star Rating -->
    <script src="{% static 'rating/js/star-rating.min.js' %}"></script>
    <script type="text/javascript">
    $('button.search-button').on('click', function() {
        var button = $(this);
        query = button.parent().siblings('input').val();
        if (!query) {
            alert('Search String cannot be empty');
        } else {
            $('.search_container').empty().load("{% url 'track_search' %}?query=" + query, function(){
	            $('#search_result_modal').modal()
    	        $('input.rating').rating();
            });

            // });
        }
    });
    </script>
    {% block inline_js %} 
    {% endblock %}
</body>

</html>
