<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-1">
        </div>
        <div class="col-md-4 col-xs-12">
            <ul class="nav nav-pills nav-justified">
                <li role="presentation" class="active"><a href="#">Tracks</a></li>
                <li role="presentation"><a href="#">Genres</a></li>
            </ul>
        </div>
        <div class="col-md-4 col-xs-12">
            <button class="btn btn-info btn-block add-btn" type="button">Add New Track</button>
        </div>
    </div>
    <hr/> {% include 'tracks/search_bar.html' %}
    <hr/> {% include 'tracks/track_list.html' %}
</div>
