{% extends 'tracks/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-1">
        </div>
        <div class="col-md-4 col-xs-12">
            <ul class="nav nav-pills nav-justified">
                <li role="presentation" class="active track"><a class="track-nav">Tracks</a></li>
                <li role="presentation" class="genre"><a class="genre-nav">Genres</a></li>
            </ul>
        </div>
        <div class="col-md-4 col-xs-12">
            <button class="btn btn-info btn-block add-btn genre_track_btn track_btn show" type="button" data-toggle="modal" data-target="#tracks_modal">Add New Track</button>
            <button class="btn btn-primary btn-block add-btn genre_track_btn genre_btn hidden invisible" type="button" data-toggle="modal" data-target="#genres_modal">Add New Genre</button>
        </div>
    </div>
    <hr/> {% include 'tracks/search_bar.html' %}
    <hr/>
    <div id="siteloader" class="content"></div>
    <div class="loading" id="loading">
        <img src="{% static 'img/loading-circle.gif' %}">
    </div>
</div>

{% endblock %} 
{% block inline_js %}
{% endblock %}
