<ul class="list-group">
    {% for genre in genres %}
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-10 col-xs-6 genre-name">
                {{ genre.genre_type }}
            </div>
            <div class="col-md-2 col-xs-6">
                <button class="btn btn-block btn-warning genre-edit-btn" type="button" data-toggle="modal" data-target="#edit_genres_modal">Edit</button>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
<!-- Pagination -->
<div class="row">
    <div class="col-md-12 col-xs-16">
        <nav aria-label="Page navigation">
            {% if genres.has_other_pages %}
            <ul class="pagination">
                {% if genres.has_previous %}
                <li>
                    <span class="genre-paginate" data-href="{{ genres.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </span>
                </li>
                {% else %}
                <li class="disabled">
                    <span aria-hidden="true">&laquo;</span>
                </li>
                {% endif %} {% for i in genres.paginator.page_range %} {% if genres.number == i %}
                <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span>
                </li>
                {% else %}
                <li><span class="genre-paginate" data-href="{{ i }}">{{ i }}</span></li>
                {% endif %} {% endfor %} {% if genres.has_next %}
                <li>
                    <span class="genre-paginate" data-href="{{ genres.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </span>
                </li>
                {% else %}
                <li class="disabled">
                    <span aria-hidden="true">&raquo;</span>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </nav>
    </div>
</div>
