<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Track List</a>
        </div>
            <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_collapse" aria-expanded="false"> -->
                <!-- <span class="sr-only">Toggle navigation</span> -->
                <!-- <span class="icon-bar"></span> -->
                <!-- <span class="icon-bar"></span> -->
                <!-- <span class="icon-bar"></span> -->
            <!-- </button> -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- <div class="collapse navbar-collapse" id="navbar_collapse"> -->
            <!-- <ul class="nav navbar-nav"> -->
                <!-- <li class="active"><a href="#">Tracks</a></li> -->
                <!-- <li><a href="#">Genres</a></li> -->
            <!-- </ul> -->
            <!-- <h6 class="navbar-text navbar-right"> <small>Page Designed by Vijay Gandrapu</small></h6> -->
        <!-- </div> -->
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
