{% load staticfiles %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="Brand" src="{% static 'img/logo.png' %}">
            </a>
            <div class="navbar-title">
                <a class="navbar-brand" href="/">Track List</a>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>
