<div class="row">
    <div class="col-md-12 col-xs-18">
        <div class="input-group">
            <input type="text" class="form-control" id="trackSearch" placeholder="Search Title">
            <!-- <button type="submit" class="btn btn-primary">Search</button> -->
            <span class="input-group-btn">
                <button class="btn btn-default search-button" type="button"><!--  data-toggle="modal" data-target="#search_result_modal" -->Search</button>
            </span>
        </div>
    </div>
</div>
