<div class="panel-group" id="accordion" role="tablist">
    <div class="panel panel-default">
        <div class="panel-heading" role="button" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >
            <h4 class="panel-title">
                Cras justo odio
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8 col-xs-16">
                        <div class="row">
                            <div class="col-md-2 col-xs-4">
                                Genre
                            </div>
                            <div class="col-md-10 col-xs-8">
                                Genre Value
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-xs-4">
                                Rating
                            </div>
                            <div class="col-md-10 col-xs-8">
                                Rating Value
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-16">
                        <div class="row">
                            <div class="col-md-4 col-xs-2">
                            </div>
                            <div class="col-md-8 col-xs-12">
                                <button class="btn btn-block btn-default">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="button" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
            <h4 class="panel-title">
                Dapibus ac facilisis in
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8 col-xs-16">
                        <div class="row">
                            <div class="col-md-2 col-xs-4">
                                Genre
                            </div>
                            <div class="col-md-10 col-xs-8">
                                Genre Value
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-xs-4">
                                Rating
                            </div>
                            <div class="col-md-10 col-xs-8">
                                Rating Value
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-16">
                        <div class="row">
                            <div class="col-md-4 col-xs-2">
                            </div>
                            <div class="col-md-8 col-xs-12">
                                <button class="btn btn-block btn-default">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="button" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
            <h4 class="panel-title">
                Morbi leo risus
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8 col-xs-16">
                        <div class="row">
                            <div class="col-md-2 col-xs-4">
                                Genre
                            </div>
                            <div class="col-md-10 col-xs-8">
                                Genre Value
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-xs-4">
                                Rating
                            </div>
                            <div class="col-md-10 col-xs-8">
                                Rating Value
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-16">
                        <div class="row">
                            <div class="col-md-4 col-xs-2">
                            </div>
                            <div class="col-md-8 col-xs-12">
                                <button class="btn btn-block btn-default">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="button" id="headingFour" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed">
            <h4 class="panel-title">
                Porta ac consectetur ac
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8 col-xs-16">
                        <div class="row">
                            <div class="col-md-2 col-xs-4">
                                Genre
                            </div>
                            <div class="col-md-10 col-xs-8">
                                Genre Value
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-xs-4">
                                Rating
                            </div>
                            <div class="col-md-10 col-xs-8">
                                Rating Value
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-16">
                        <div class="row">
                            <div class="col-md-4 col-xs-2">
                            </div>
                            <div class="col-md-8 col-xs-12">
                                <button class="btn btn-block btn-default">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="button" id="headingFive" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="collapsed">
            <h4 class="panel-title">
                Vestibulum at eros
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8 col-xs-16">
                        <div class="row">
                            <div class="col-md-2 col-xs-4">
                                Genre
                            </div>
                            <div class="col-md-10 col-xs-8">
                                Genre Value
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-xs-4">
                                Rating
                            </div>
                            <div class="col-md-10 col-xs-8">
                                Rating Value
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-16">
                        <div class="row">
                            <div class="col-md-4 col-xs-2">
                            </div>
                            <div class="col-md-8 col-xs-12">
                                <button class="btn btn-block btn-default">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pagination -->
<div class="row">
    <div class="col-md-12 col-xs-16">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
