.navbar-header {
    width: 100%;
    justify-content: center;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
}

.add-btn {
    height: 40px !important;
}

.btn-block + .btn-block {
    margin-top: 0px !important;
}

ul.list-group.track-list:after {
    clear: both;
    display: block;
}

.list-group-item.track-list {
    float: left;
    margin: 0 1px;
    padding: 5px;
    top: -5px;
    text-transform: capitalize;
    border-radius: 5px;
    background-color: aliceblue;
}

.rating-title {
    top: 15px;
}

button.btn.track-edit-btn {
    margin-top: 20px;
}

.track-title {
    text-transform: uppercase;
    font-size: 0.9em;
    margin-top: 5px;
}

.genre-name {
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 5px;
}

.result-count {
    text-transform: uppercase;
    font-weight: bold;
    margin: 5px 15px;
    color: blue;
}

.loading img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}